<app-menu-collaborateur></app-menu-collaborateur>

<div class="container mt-5">

  <div class="col-12">
    <h2>Vos annonces</h2>

    <div class="float-right">
      <button type="button" class="btn btn-outline-dark center-left" routerLink="/collaborateur/annonces/creer">Créer une nouvelle annonce</button>
    </div>

    <div class="mt-5">
      <h5>Annonces en cours</h5>

      <table class="table table-bordered table-striped table-sm mt-4">
        <thead>
          <tr>
            <th scope="col">Date / heure de départ</th>
            <th scope="col">Lieu de départ</th>
            <th scope="col">Lieu de destination</th>
            <th scope="col">Nombre de voyageurs</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let ann of annoncesEnCours">
            <td>{{ann.horaireDeDepart}}</td>
            <td>{{ann.lieuDeDepart}}</td>
            <td>{{ann.lieuDeDestination}}</td>
            <td>{{ann.nombreDeVoyageurs}}</td>
            <td> <button type="button" class="btn btn-outline-danger btn-sm" (click)="supprimer(ann.id)">Annuler</button> </td>
          </tr>
        </tbody>
      </table>

    </div>



    <div class="mt-5">
      <h5>Historique</h5>

      <table class="table table-bordered table-striped table-sm  mt-4">
        <thead>
          <tr>
            <th scope="col">Date / heure de départ</th>
            <th scope="col">Lieu de départ</th>
            <th scope="col">Lieu de destination</th>
            <th scope="col">Nombre de voyageurs</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let ann of annoncesHistorique">
            <td>{{ann.horaireDeDepart}}</td>
            <td>{{ann.lieuDeDepart}}</td>
            <td>{{ann.lieuDeDestination}}</td>
            <td>{{ann.nombreDeVoyageurs}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>