<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://cdn5.f-cdn.com/contestentries/1231270/14491831/5a5f03a179295_thumb900.jpg" width="40" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/collaborateur/reservations">Vos réservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/collaborateur/annonces">Vos annonces</a>
      </li>
      <!-- Menu pour le role 'ROLE_ADMINISTRATEUR'-->
      <li class="nav-item" >
        <a class="nav-link" routerLink="/administrateur" *ngIf="isAdmin()">Espace administrateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statisques</a>
      </li>
    </ul>
  </div>
</nav>