<section class ="barre de navigation">


  <nav class="navbar-expand-lg navbar-light bg-light font-weight-bold">
  
    <!-- bouton hamburger -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <div class="navbar-nav mr-auto">
  
         <!-- Menu de base -->
        <a class="nav-item nav-link" routerLink="/collaborateur/accueil">Accueil</a>
        <a class="nav-item nav-link" routerLink="/collaborateur/reservations">Vos réservations</a>
        <a class="nav-item nav-link" routerLink="/collaborateur/annonces">Vos annonces</a>
        <!-- Menu pour le role 'ROLE_ADMINISTRATEUR'-->
        <a class="nav-item nav-link" routerLink="/administrateur" *ngIf="isAdmin()">Espace administrateur</a>
        
      </div>
  
       <!-- Bouton de déconnexion -->
      <div class="col-2">
          <a  class="btn-sm btn-danger pull-right" (click)="seDeconnecter()">Se déconnecter</a>
          </div>
    </div>
  </nav>
  
  
  </section>