<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top text-white pink">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand font-weight-bold">Transport3000</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto ">
      <a class="nav-item nav-link text-white" routerLink="/collaborateur/accueil">Accueil</a>
      <a class="nav-item nav-link text-white" routerLink="/collaborateur/reservations">Vos réservations</a>
      <a class="nav-item nav-link text-white" routerLink="/collaborateur/annonces">Vos annonces</a>

      <a class="nav-item nav-link text-white" routerLink="/administrateur" *ngIf="isAdmin()">Espace administrateur</a>

    </ul>

    <div class="col-2">
      <a class="btn-sm btn-primary pull-right" (click)="seDeconnecter()">Se déconnecter</a>
    </div>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->