    <div class="mt-5">
      <h5>Réservation de véhicule en cours</h5>

      <table class="table table-bordered table-striped table-sm mt-4">
        <thead>
          <tr>
            <th scope="col">Date / heure de début</th>
            <th scope="col">Date / heure de fin</th>
            <th scope="col">Immatriculation</th>
            <th scope="col">Marque</th>
            <th scope="col">Modèle</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let resa of reservationEnCours">
            <td>{{resa.horaireDepart}}</td>
            <td>{{resa.horaireArrivee}}</td>
            <td>{{resa.vehicule.immatriculation}}</td>
            <td>{{resa.vehicule.marque}}</td>
            <td>{{resa.vehicule.modele}}</td>
            <td>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="supprimer(resa.id)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>



    <div class="mt-5">
      <h5>Historique des réservation de véhicule</h5>

      <table class="table table-bordered table-striped table-sm  mt-4">
        <thead>
          <tr>
              <th scope="col">Date / heure de début</th>
              <th scope="col">Date / heure de fin</th>
              <th scope="col">Immatriculation</th>
              <th scope="col">Marque</th>
              <th scope="col">Modèle</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let resa of reservationHistorique">
              <td>{{resa.horaireDepart}}</td>
              <td>{{resa.horaireArrivee}}</td>
              <td>{{resa.vehicule.immatriculation}}</td>
              <td>{{resa.vehicule.marque}}</td>
              <td>{{resa.vehicule.modele}}</td>
          </tr>
        </tbody>
      </table>

    </div>