<app-menu-collaborateur></app-menu-collaborateur>

<div class="container mt-5">

  <div class="col-12">
    <h2>Vos réservations</h2>

    <div class="float-right">
      <button type="button" class="btn btn-outline-dark center-left" routerLink="/collaborateur/reservations/creer">Réserver
        un transport</button>
    </div>

    <div class="mt-5">
      <h5>Covoiturage en cours</h5>

      <table class="table table-bordered table-striped table-sm mt-4">
        <thead>
          <tr>
            <th scope="col">Date de départ</th>
            <th scope="col">Hheure de départ</th>
            <th scope="col">Lieu de départ</th>
            <th scope="col">Lieu de destination</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let covoit of covoituragesEnCours">
            <td>{{covoit.annonce.jourDeDepart}}</td>
            <td>{{covoit.annonce.heureDeDepart}}</td>
            <td>{{covoit.annonce.lieuDeDepart}}</td>
            <td>{{covoit.annonce.lieuDeDestination}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="select(covoit);basicModal.show()">Détails</button>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="supprimer(covoit.id)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>



    <div class="mt-5">
      <h5>Historique des covoiturages</h5>

      <table class="table table-bordered table-striped table-sm  mt-4">
        <thead>
          <tr>
            <th scope="col">Date de départ</th>
            <th scope="col">Hheure de départ</th>
            <th scope="col">Lieu de départ</th>
            <th scope="col">Lieu de destination</th>
            <th scope="col"> </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let covoit of covoituragesHistorique">
            <td>{{covoit.annonce.jourDeDepart}}</td>
            <td>{{covoit.annonce.heureDeDepart}}</td>
            <td>{{covoit.annonce.lieuDeDepart}}</td>
            <td>{{covoit.annonce.lieuDeDestination}}</td>
            <td>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="select(covoit);basicModal.show()">Détails</button>
            </td>
          </tr>
        </tbody>
      </table>


      <app-lister-reservation></app-lister-reservation>

    </div>
  </div>
</div>

<!-- *************************************** MODAL *************************************** -->

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Détails du covoiturage</h4>
      </div>
      <div class="modal-body">
        <p>Départ : {{selectedCovoit.annonce.lieuDeDepart}}</p>
        <p>Destination : {{selectedCovoit.annonce.lieuDeDestination}}</p>
        <p>Date de départ : {{selectedCovoit.annonce.jourDeDepart}}</p>
        <p>Heure de départ : {{selectedCovoit.annonce.heureDeDepart}}</p>
        <p>Véhicule : {{selectedCovoit.annonce.vehicule.immatriculation}}</p>
        <p>Chauffeur : {{selectedCovoit.annonce.collegue.nom}} </p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Fermer</button>
      </div>
    </div>
  </div>
</div>