<p class="h2 mb-4">Covoiturage</p>
<p class="h4 mb-4">Critères</p>

<div class="row">
  <div class="col-4">
    <input type="text" [(ngModel)]="depart" name="depart" class="mb-4" placeholder="Adresse de départ" required>
  </div>
  <div class="col-4">
    <input type="text" [(ngModel)]="destination" name="lieuDeDestination" class="mb-4" placeholder="Adresse d'arrivée">
  </div>
</div>

<div class="row">
  <div class="col">
    <input type="date" [(ngModel)]="dateDepart" id="dateDepart" class="mb-4">
    <input type="time" [(ngModel)]="heureDepart" id="heureDepart" class="ml-2 mb-4">
  </div>
</div>

<p class="h4 mb-4">Covoiturages</p>
<table class="table table-bordered table-striped table-sm mt-4">
  <thead>
    <tr>
      <th scope="col">Date / heure</th>
      <th scope="col">Départ</th>
      <th scope="col">Destination</th>
      <th scope="col">Vehicule</th>
      <th scope="col">Chauffeur</th>
      <th scope="col">Places disponibles</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let annonce of annoncesEnCours | filter : depart : destination : dateDepart : heureDepart">
        <td>{{annonce.jourDeDepart}} {{annonce.heureDeDepart}}</td>
        <td>{{annonce.lieuDeDepart}}</td>
        <td>{{annonce.lieuDeDestination}}</td>
        <td>{{annonce.vehicule.marque}} {{annonce.vehicule.modele}}</td>
        <td>{{annonce.collegue.nom}} {{annonce.collegue.prenom}}</td>
        <td>{{annonce.nombreDePlacesDisponibles}}</td>
        <td>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="detail(annonce);basicModal.show()">Réserver</button>
        </td>
      </tr>
  </tbody>
</table>

<!-- *************************************** MODAL *************************************** -->

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Détails du covoiturage</h4>
      </div>
      <div class="modal-body">
        <p>Départ : {{selectedAnnonce.lieuDeDepart}}</p>
        <p>Destination : {{selectedAnnonce.lieuDeDestination}}</p>
        <p>Date de départ : {{selectedAnnonce.jourDeDepart}} {{selectedAnnonce.heureDeDepart}}</p>
        <p>Véhicule : {{selectedAnnonce.vehicule.marque}} {{selectedAnnonce.vehicule.modele}}</p>
        <p>Chauffeur : {{selectedAnnonce.collegue.nom}} </p>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Annuler</button>
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="reserver(selectedAnnonce)" mdbWavesEffect>Confirmer</button>
      </div>
    </div>
  </div>
</div>