<p class="h2 mb-4">Covoiturage</p>
<p class="h4 mb-4">Critères</p>

<div class="row">
  <div class="col-4">
    <input type="text" [(ngModel)]="depart" name="depart" class="mb-4" placeholder="Adresse de départ" required>
  </div>
  <div class="col-4">
    <input type="text" [(ngModel)]="destination" name="lieuDeDestination" class="mb-4" placeholder="Adresse d'arrivée">
  </div>
</div>

<div class="row">
  <div class="col">
    <input type="date" [(ngModel)]="dateDepart" id="dateDepart" class="mb-4">
    <input type="time" [(ngModel)]="heureDepart" id="heureDepart" class="ml-2 mb-4">
  </div>
</div>

<p class="h4 mb-4">Covoiturages</p>
<table class="table table-bordered table-striped table-sm mt-4">
  <thead>
    <tr>
      <th scope="col">Date / heure</th>
      <th scope="col">Départ</th>
      <th scope="col">Destination</th>
      <th scope="col">Vehicule</th>
      <th scope="col">Chauffeur</th>
      <th scope="col">Places disponibles</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr *ngFor="let covoit of covoituragesEnCours | filter : depart : destination : dateDepart : heureDepart">
        <td>{{covoit.annonce.horaireDeDepart}}</td>
        <td>{{covoit.annonce.lieuDeDepart}}</td>
        <td>{{covoit.annonce.lieuDeDestination}}</td>
        <td>{{covoit.annonce.vehicule.marque}} {{covoit.annonce.vehicule.modele}}</td>
        <td>{{covoit.annonce.collegue.nom}} {{covoit.annonce.collegue.prenom}}</td>
        <td>{{covoit.annonce.nombreDePlacesDisponibles}}</td>
        <td>{{covoit.annonce | json}}</td>
        <td>
          <button type="button" class="btn btn-outline-danger btn-sm">Réserver</button>
        </td>
      </tr>
  </tbody>
</table>

<div class="row" *ngIf="errMsg">
  {{errMsg}}
</div>