<p class="h2">Véhicule de société</p>

<div class="row mt-5">
  <div class="col">
    Date / heure de réservation
    <input type="date" [(ngModel)]="dateDeDepart" id="dateDepart" class="ml-4 mb-4" required>
    <input type="time" [(ngModel)]="heureDeDepart" id="heureDepart" class="mb-4 ml-3" required>
  </div>
</div>

<div class="row">
  <div class="col">
    Date / heure de retour
    <input type="date" [(ngModel)]="dateDeRetour" id="dateRetour" class="ml-4 mb-4" required>
    <input type="time" [(ngModel)]="heureDeRetour" id="heureRetour" class="mb-4 ml-3" required>
  </div>
</div>

<div class="mb-4">

  <mdb-carousel [isControls]="true" [keyboard]="true" [interval]="0" [animation]="'slide'">

    <div *ngFor="let vehicule of vehiculeDeSociete">

      <mdb-carousel-item>
        <div class="view w-100">
          <img class="d-block w-100" src="{{vehicule.photo}}" alt="Second slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption text-white ">
          <h4 class="h4-responsive">{{vehicule.immatriculation}}</h4>
          <p>{{vehicule.marque}} {{vehicule.modele}} - {{vehicule.categorie}}</p>
          <button *ngIf="vehicule.statut == 'EN_SERVICE'" type="button" class="btn btn-outline-primary" (click)="select(vehicule);basicModal.show()">Réserver</button>
        </div>
      </mdb-carousel-item>
      
    </div>
  
  </mdb-carousel>

</div>


<!-- *************************************** MODAL *************************************** -->


<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Réservation d'un véhicle</h4>
      </div>
      <div class="modal-body">
        <p>Date/heure de réservation : {{dateDeDepart}} - {{heureDeDepart}}</p>
        <p>Date/heure retour : {{dateDeRetour}} - {{heureDeRetour}}</p>
        <p>Immatriculation : {{selectedReservation.vehiculeSoc.immatriculation}}</p>
        <p>Marque : {{selectedReservation.vehiculeSoc.marque}}</p>
        <p>Modèle : {{selectedReservation.vehiculeSoc.modele}}</p>
      </div>
      <div class="modal-footer">
          <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Annuler</button>
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="reserverVehicule(selectedReservation)" mdbWavesEffect>Confirmer</button>
      </div>
    </div>
  </div>
</div>